<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Empleados</a>
  </div>
</nav>

<div class="container p-4">
  <app-employee></app-employee>
</div>
