<div class="row">

  <!-- FORM -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-body p-4">

        <!-- FORM -->
        <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
          <!-- THE Id's Employee -->
          <input type="hidden" name="id" #id="ngModel" [(ngModel)]="employeeService.selectedEmployee.id">

          <div class="form-group">
            <input type="text" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name"
              placeholder="Enter your FullName" class="form-control">
          </div>

          <div class="form-group">
            <input type="text" name="email" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.email"
              placeholder="Enter your Email" class="form-control">
          </div>

          <div class="form-group">
            <div class="input-field col-s12">
              <input type="text" name="position" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.position"
                placeholder="Enter your Position" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <input type="text" name="office" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.office"
              placeholder="Enter your Office" class="form-control">
          </div>

          <div class="form-group">
            <div class="input-field col-s12">
              <input type="text" name="salary" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary"
                value="0" placeholder="Enter your Salary" class="form-control">
            </div>
          </div>

          <a class="btn btn-primary mr-2" (click)="resetForm(employeeForm)">Clean</a>
          <button type= "submit" class="btn btn-secondary">Save</button>
      </form>
    </div>
  </div>
</div>

<!-- TABLE -->
<div class="col-md-8">
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Position</th>
      <th>Office</th>
      <th>Salary</th>
      <th>Operations</th>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeService.employees">
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.office }}</td>
        <td>{{ employee.salary }}</td>
        <td>
          <a (click)="editEmployee(employee)" class="btn btn-secondary btn-sm">
            <i class="material-icons">edit</i>
          </a>
          <a (click)="deleteEmployee(employee.id, employeeForm)" class="btn btn-danger btn-sm">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
